.bookComponent {
    width: 310px;
    height: 460px;
    overflow: hidden;
    border: none;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    font-family: Arial, sans-serif;
    color: white;
    padding: 70px;
    text-align: -webkit-center;
}
  
.bookComponent img {
    border-radius: 10px;
    width: 220px;
    height: 340px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}
  
.bookComponent span {
    font-style: italic;
  }
  
.bookComponent p {
    font-style: italic;
}