.filtersDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}
  
.filtersDiv h3 {
    color: rgba(255, 241, 169, 0.385);
}

.filtersDiv label {
    padding-left: 2%;
    color: rgba(255, 255, 255, 0.796);
}