#pageTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 60px;
    color: rgba(255, 241, 169, 0.696);
}

#registerContainer {
    align-content: center;
    text-align: -webkit-center;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 500px;
}

#registerFormContainer {
    background-color: rgba(169, 169, 169, 0.27);
    width: 60%;
    height: max-content;
    padding: inherit;
    border-radius: 8px;
}

.clickLink {
    color: purple;
}

.clickLink:hover {
    cursor: pointer;
}