/* .section {
  border: solid wheat;
  position: relative;
  width: 80%;
  margin: auto;
}
.carousel-container {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: 530px;
  margin-bottom: 1rem;
  border: solid red;
}

.carousel-slide {
  flex: 0 0 33.33%;
  scroll-snap-align: center;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.carousel-slide p {
  height: 40px;
  margin: 0;
  background-color: #fff;
  color: rgba(50, 50, 50, 0.5);
  border-top: none;
  text-align: center;
}

.carousel-slide p span {
  font-weight: bolder;
}

.carousel-slide img {
  width: 100%;
  height: 400px;
  object-fit: fill;
  margin: 0;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
  height: 50px;
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.carousel-prev:hover,
.carousel-next:hover {
  opacity: 1;
}

.carousel-prev {
  left: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.carousel-next {
  right: 0;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.carousel-indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.carousel-indicator.active {
  background-color: #fff;
}

ol{
    list-style-type: none;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (min-width:800px) {
    .carousel-slide {
        flex: 0 0 25%;
      }
} */

.carousel-slide {
  flex: 0 0 33.33%;
  scroll-snap-align: center;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.carousel-slide p {
  height: 60px;
  margin: 0;
  background-color: #fff;
  color: rgba(50, 50, 50, 0.5);
  border-top: none;
  text-align: center;
}

.carousel-slide p span {
  font-weight: bolder;
}

.carousel-slide img {
  width: 100%;
  height: 400px;
  object-fit: fill;
  margin: 0;
}

.carousel-container {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: 600px;
  margin: auto;
  margin-bottom: 1rem;
  /* border: solid red; */
  position: relative;
}

.carousel.carousel-slider {
  margin: 0;
  overflow: hidden;
  height: 100%;
  margin: auto;
}

.carousel .control-next.control-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  opacity: 1;
  background-color: black;
}

.carousel .control-prev.control-arrow {
  left: 0;
  position: absolute;
  top: 50%;
  opacity: 1;
  background-color: black;
}

.carousel .slider-wrapper {
  overflow: hidden;
  margin: auto;
  width: 100%;
  transition: height 0.15s ease-in;
  height: 550px !important;
}

.carousel .slider {
  height: 550px;
}

.carousel-title {
  color: antiquewhite;
  text-align: center;
}

.carousel .slide {
  min-width: 100% !important;
}

@media screen and (min-width: 600px) {
  .carousel .slide {
    min-width: 50% !important;
  }
}

@media screen and (min-width: 900px) {
  .carousel .slide {
    min-width: 25% !important;
  }
}
