.carousel-slide {
  flex: 0 0 33.33%;
  scroll-snap-align: center;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.carousel-slide p {
  height: 60px;
  margin: 0;
  background-color: #fff;
  color: rgba(50, 50, 50, 0.5);
  border-top: none;
  text-align: center;
}

.carousel-slide p span {
  font-weight: bolder;
}

.carousel-slide img {
  width: 100%;
  height: 400px;
  object-fit: fill;
  margin: 0;
}

.carousel-container {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  height: 600px;
  margin: auto;
  margin-bottom: 1rem;
  position: relative;
}

.carousel.carousel-slider {
  margin: 0;
  overflow: hidden;
  height: 100%;
  margin: auto;
}

.carousel .control-next.control-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  opacity: 1;
  background-color: black;
}

.carousel .control-prev.control-arrow {
  left: 0;
  position: absolute;
  top: 50%;
  opacity: 1;
  background-color: black;
}

.carousel .slider-wrapper {
  overflow: hidden;
  margin: auto;
  width: 100%;
  transition: height 0.15s ease-in;
  height: 550px !important;
}

.carousel .slider {
  height: 550px;
}

.carousel-title {
  color: antiquewhite;
  text-align: center;
}

.carousel .slide {
  min-width: 100% !important;
}

@media screen and (min-width: 600px) {
  .carousel .slide {
    min-width: 50% !important;
  }
}

@media screen and (min-width: 900px) {
  .carousel .slide {
    min-width: 25% !important;
  }
}
