.footer {
  background-color: rgb(215, 212, 212);
  padding: 1rem;
}

.footer-section {
  text-align: center;
}

.footer-title {
text-align: center;
margin: 0;
}


.footer-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}


.footer-copyright {
  margin: 0;
  text-align: center;
}
